/*--Contact Form Styles--*/

#contact-form-wrapper {
    background-color: #00954d;
    height: 640px;
}

#contact-form-wrapper iframe {
    width: 60%;
    float: left;
}

#contact-form-wrapper h1 {
    width: 30%;
    float: right;
    margin-top: 18%;
    margin-right: 50px;
}

#map-wrapper {
    clear: both;
    background-color: #295595;
    height: 450px;
}

#map-wrapper address {
    width: 30%;
    float: left;
    font-size: 32px;
    position: relative;
    left: 250px;
    top: 150px;
}

address a {
    color: #000;
}

#map-wrapper iframe {
    float: right;
    width: 600px;
    height: 450px;
}