/*Fonts*/

@import url('https://fonts.googleapis.com/css?family=Lato:400,900|Roboto');

/*--UNIVERSALS--*/

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Lato", sans-serif;
}

p, a {
    font-family: "Roboto", sans-serif;
}

.text-center {
    text-align: center;
}

/*--Header--*/

header {
    background-color: #000029;
}

nav ul li, h3 {
    display: inline-block;
    color: #fff;
}

h3 {
    position: relative;
    left: 15px;
}

nav {
    float: right;
    position: relative;
    right: 15px;
    top: 3px;
}

nav ul li {
    margin: 0px 17px;
    font-size: 20px;
}

/*--Hero--*/

#hero {
    height: 400px;
    background-image: url("../img/hero.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    bottom: 43px;
}

#hero h2 {
    font-size: 52px;
    color: #fff;
    text-align: center;
    position: relative;
    top: 46%;
}

.picture {
    height: 300px;
    width: 300px;
    background-color: #000;
    margin: 15px 15px;
    float: left;
    position: relative;
    bottom: 40px;
    box-shadow: 5px 5px 5px #373737;
}

.picture p {
    color: #fff;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    padding-left: 20px;
    font-size: 20px;
}

/*----Footer----*/

footer {
    background-color: #333;
    clear: both;
    padding: 24px 0px;
}

.fa {
    margin-left: 10px;
    margin-right: 10px;
}

.fa-youtube-play {
    color: #b20000;
}

.fa-twitter {
    color: #00c6ef;
}

.fa-instagram {
    color: #6d7def;
}

#copyright {
    color: #fff;
}